accelerate==0.26.1
bittensor==6.12.0
beautifulsoup4==4.12.2
bs4==0.0.1
chromadb==0.4.22
datasets==2.16.1
Faker==22.2.0
gunicorn==21.2.0
langchain>=0.1.5
langchain-community==0.2.1
py7zr==0.20.8
sentence_transformers==2.2.2
sentencepiece==0.1.99
torch==2.1.2
transformers==4.36.2
uvicorn==0.22.0
tabulate==0.9.0
langchainhub==0.1.15
redis==5.0.3
rq==1.16.1
wandb==0.16.4
mlflow==2.12.1
comet_ml==3.41.0
nltk==3.8.1
openai==1.28.1
StrEnum==0.4.15
langchain-openai==0.1.8
langchain_text_splitters==0.2.0
comet_llm==2.2.4
