accelerate
bittensor==7.1.2
beautifulsoup4
bs4
chromadb==0.4.22
datasets
Faker
gunicorn
langchain
langchain-community
py7zr
sentence_transformers
sentencepiece
transformers
uvicorn
tabulate
langchainhub
redis
rq
wandb
nltk
openai
StrEnum
langchain-openai
langchain_text_splitters
matplotlib
